body
{
    background-color: rgb(172, 243, 243);
}

#submitButton
{
    background-color: greenyellow;
}

#show
{
    background-color: rgb(245, 255, 108);
}

#sortButton
{
    background-color: rgb(255, 138, 138);
}

#srch
{
    background-color: rgb(234, 152, 255);
}